.status {
  padding: 4px;
  -webkit-border-radius: 0.5rem;
  border-radius: 0.5rem;
  border: 0.2rem solid #fff;
  //display: inline-block;
  //line-height: 1;

  .status-title {
    font-weight: bold
  }
}
