.status {
  color: #fff;
  padding: 0.4rem 0.5rem;
  -webkit-border-radius: 0.5rem;
  border-radius: 0.5rem;
  border: 0.2rem solid #fff;
  display: inline-block;
  line-height: 1;
  .status-title {
  }
}
