.password-strength-meter {
  display: flex;
  margin: 8px 0;
  position: relative;
  width: 100%;
  background: #ccc;

  .meter-bar {
    width: 20%;
    height: 2px;
    z-index: 5;
    border-right: 4px solid #fff;

    &:nth-child(5) {
      border-right: none;
    }
  }

  .meter-bar-overlay {
    position: absolute;
    height: 2px;
    width: 0;
    background: red;
    transition: width .5s ease-in-out, background .25s;
    border-radius: 4px;
  }

  &[data-strength="0"] .meter-bar-overlay {
    background-color: #8B0000;
    width: 20%;
  }

  &[data-strength="1"] .meter-bar-overlay {
    background-color: #D51A1D;
    width: 40%;
  }

  &[data-strength="2"] .meter-bar-overlay {
    background-color: #F8AC1B;
    width: 60%;
  }

  &[data-strength="3"] .meter-bar-overlay {
    background-color: #9EB876;
    width: 80%;
  }

  &[data-strength="4"] .meter-bar-overlay {
    background-color: #27972A;
    width: 100%;
  }
}