<div>
  <!--  <ng-template #myCustomTemplate>-->
  <!--    <p>This is a custom body template for the dialog.</p>-->
  <!--  </ng-template>-->

  <ng-template #dialogTemplate>
    <mat-tab-group [selectedIndex]="selectedTab.value"
                   (selectedTabChange)="selectedTabValue($event)"
    >
      <mat-tab *ngFor="let tab of tabs" [label]="tab.label">
        <div *ngFor="let item of tab.items"
             class="expense-category"
             [ngClass]="item.active ? 'active' : ''"
             (click)="activeTab(item)"
        >
          <mat-icon>{{ item.icon }}</mat-icon>
          <span>{{ item.name }}</span>
        </div>
      </mat-tab>
    </mat-tab-group>
  </ng-template>

  <form class="form-field-full" [formGroup]="form">
    <div class="row">

      <div class="col-md-6">
        <mat-label class="fw-bold">{{ "expenses.category" | translate }}</mat-label>
        <mat-form-field appearance="outline" class="mb-2 app-input" (click)="selectedCategory()">
          <input matInput type="text" placeholder="" formControlName="expenseCategory" />
        </mat-form-field>
      </div>

      <div class="col-md-6">
        <mat-label class="fw-bold">{{ "expenses.amount" | translate }}</mat-label>
        <mat-form-field appearance="outline" class="mb-2 app-input">
          <input matInput currencyMask type="text" placeholder="" formControlName="amount" maxlength="15" />
        </mat-form-field>
      </div>

      <div class="col-md-6">
        <mat-label  class="fw-bold">{{ "common.date" | translate }}</mat-label>
        <mat-form-field appearance="outline" class="mb-2 app-input">
          <input matInput [matDatepicker]="picker" formControlName="date">
          <mat-hint>DD/MM/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="col-md-6">
        <mat-label class="fw-bold">{{ "common.note" | translate }}</mat-label>
        <mat-form-field appearance="outline" class="mb-2 app-input">
          <input matInput type="text" placeholder="" formControlName="note" />
        </mat-form-field>
      </div>
    </div>
  </form>
</div>

<div class="btn-action-footer">
  <app-button
    class="me-2"
    [btnType]="ButtonTypes.Raised"
    [btnText]="'common.cancel'"
    (click)="onCancelClick()"
  ></app-button>
  <app-button
    [btnDisabled]="!isValid"
    [btnType]="ButtonTypes.Raised"
    [btnColor]="ButtonColor.Primary"
    [btnText]="'common.save'"
    (click)="onSaveClick()"
  ></app-button>
</div>
