.access-control {
  .width-cell-fit {
    width: 1%;
    text-align: center;
  }
  .access-control-item {
  }
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
