@use "@angular/material" as mat;
@import 'app/shared/style/partials/variables';

// regular style toast
@import "ngx-toastr/toastr";

/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";

@import "ag-grid-community/styles/ag-grid.css";
@import "ag-grid-community/styles/ag-theme-alpine.css";

@import "app/shared/style/expense";
@import "app/shared/style/chart";
@import "app/shared/style/password-strength";


body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
}

html,
body {
  --mdc-checkbox-state-layer-size: 18px;
  --mat-toolbar-standard-height: #{
    $toolbar-height-desktop
  };

  height: 100%;

  ul {
    padding: 0;
    margin: 0;
  }

  a {
    text-decoration: none;
  }

  .dot-icon {
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background: rgb(206, 203, 227);
    display: inline-flex;
    margin-right: 16px;
  }

  .checked-icon {
    color: green !important;
  }

  .app-panel {
    background: white;
    padding: 24px;
    border-radius: 4px;
  }

  .full-screen-backdrop.full-screen {
    .app-panel {
      padding: 0;
    }
  }

  .app-input {
    @include mat.all-component-densities(-3);
    width: 100%;
  }

  .app-checkbox-circle {
    .mdc-checkbox__background {
      border-radius: 50%;
    }

  }

  .app-checkbox-hide-ripple {
    .mdc-checkbox:hover .mdc-checkbox__ripple,
    .mdc-checkbox:active .mdc-checkbox__native-control ~ .mdc-checkbox__ripple,
    .mdc-checkbox:active .mdc-checkbox__native-control:checked ~ .mdc-checkbox__ripple,
    .mdc-checkbox .mdc-checkbox__native-control:focus:checked ~ .mdc-checkbox__ripple,
    .mdc-checkbox .mdc-checkbox__native-control:focus ~ .mdc-checkbox__ripple,
    .mdc-checkbox:hover .mdc-checkbox__native-control:checked ~ .mdc-checkbox__ripple {
      opacity: 0;
    }
  }

  .full-screen-modal .mat-dialog-container {
    padding: 1em;
    width: 100%;
    height: 100%;
  }

  .btn-action-footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 24px;
  }

  .mat-mdc-form-field-icon-prefix > .mat-icon, .mat-mdc-form-field-icon-suffix > .mat-icon {
    padding: 0
  }

  .mat-mdc-checkbox-touch-target {
    width: 0;
    height: 0;
  }

  .mdc-checkbox {
    padding: 0;
    margin: 0;
  }

  .mdc-checkbox__background {
    top: 0;
    left: 0;
  }


}



