@use "sass:color";
@use "sass:map";
@use "@angular/material" as mat;

@import "../style/sidebar-variables";
@import "../../../style/partials/variables";
@import "../../../style/partials/mixin";

@mixin sidebar-item {
  .sidebar-menu {
    > .sidebar-item {
      align-items: center;
      cursor: pointer;
      list-style: none;
      position: relative;

      &:hover:not(.active-link) {
        > .menu-heading {
          background-color: $hoverActiveLinkBgrLight;
          color: $activeLinkColorLight;

          .icon-group {
            color: $linkColorLight;
          }
        }
      }

      a {
        color: $linkColorLight;
      }

      &.active:before,
      &:hover:before {
        opacity: 1;
      }

      &.active-link {
        position: relative;

        > a {
          background-color: $activeLinkBgrLight;
          color: $activeLinkColorLight;
          font-weight: 500;
        }

        &:before {
          content: "";
          position: absolute;
          height: 100%;
          opacity: 1;
          width: 3px;
          background: $primaryColor;
          left: 0;
          top: 0;
        }
      }

      &.show-menu {
        .collapse-sub-menu {
          display: block;
        }
      }

      .menu-heading {
        @include flex-align-center;
        padding: spacing(3) spacing(4);
        height: 40px;

        .menu-name {
          flex: 1;
          text-align: initial;
        }

        .menu-icon {
          @include flex-center;
          flex-shrink: 0;
          width: 24px;
          height: 24px;
          margin-right: 8px;
          color: $linkColorLight;
        }
      }

      .menu-toggle {
        .menu-name {
          font-weight: bold;
        }
      }

      &.expanded {
        > .submenu {
          max-height: 500px;
          transition: max-height 0.25s ease-in;
        }

        > .menu-toggle {
          border-top: 1px solid #eee;
          padding-top: 12px;

          .menu-icon {
            min-width: 0;
          }


          > .icon-group .menu-caret i {
            transform: rotate(-90deg);
          }
        }
      }
    }

    .icon-group {
      @include flex-align-center;

      span {
        width: 28px;
        height: 28px;
        border-radius: 4px;
        @include flex-center;

        &:hover {
          background: #fff;
        }
      }

      .menu-caret i {
        transition: transform 0.2s ease-in-out;
      }

    }

    &.submenu {
      width: 100%;
      overflow: hidden;
      max-height: 0;
      position: relative;
      transition: max-height 0.15s ease-out;
    }
  }
}
