<!--<h1 class="mb-0" mat-dialog-title>aaaaaaa</h1>-->

<!--<mat-dialog-content>-->
<!--    <a routerLink="setting/account">Contact</a>-->
<!--    <ng-template [ngTemplateOutlet]="contentTemplate"></ng-template>-->
<!--</mat-dialog-content>-->

<!--<mat-divider></mat-divider>-->
<div id="app-setting">
    <div id="setting-sidebar">
        <header>
            <h2>Settings</h2>
        </header>

        <div class="search">
            <mat-form-field
                class="example-form-field app-input"
                appearance="outline"
                subscriptSizing="dynamic">
                <input matInput type="text" />
            </mat-form-field>
        </div>

        <main>
            <ng-container *ngFor="let item of settingMenus">
                <div
                    class="sidebar-item"
                    routerLink="{{ 'settings/' + item.router }}"
                    routerLinkActive="active">
                    <span class="icon">
                        <i [ngClass]="item.icon"></i>
                    </span>

                    <span class="title"> {{ item.title | translate }}</span>
                </div>
            </ng-container>
        </main>
    </div>
    <div id="setting-content">
        <header>
            <h2>{{ title | translate }}</h2>
            <div class="close" (click)="onCancelClick()">
                <i class="fa-light fa-xmark-large fa-lg"></i>
            </div>
        </header>

        <mat-divider></mat-divider>

        <main>
            <div>
                <ng-template [ngTemplateOutlet]="contentTemplate"></ng-template>
            </div>
        </main>
    </div>
</div>
