@use "@angular/material" as mat;
@import "../../../shared/style/partials/mixin";

$primary: mat.define-palette(mat.$indigo-palette);
$accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$list-view-max-width: 800px;
$background-hover: rgb(238, 238, 238);

@mixin flex-column-grow {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

@mixin icon-action {
  @include flex-center;
  border-radius: 4px;
  width: 24px;
  height: 24px;
  color: grey;
  cursor: pointer;
}

@mixin title-box {
  span {
    font-weight: 600;
    margin-right: 8px;
  }

  small {
    color: grey;
  }
}

.list-box {
  @include flex-column-grow;

  .list-view {
    @include flex-column-grow;
    max-width: $list-view-max-width;
    margin: 0 auto;
    width: 100%;
    list-style: none;
    align-self: center;

    .section-task-action-content {
      .add-section {
        opacity: 0;
        cursor: pointer;
        width: 100%;
        @include flex-center;
        flex-direction: row;
        color: mat.get-color-from-palette($primary);
        white-space: nowrap;

        &:before,
        &:after {
          position: relative;
          content: "";
          height: 1px;
          background: mat.get-color-from-palette($primary);
          width: 50%;
        }

        &:before {
          margin-right: 12px;
        }

        &:after {
          margin-left: 12px;
        }

        &:hover {
          opacity: 1;
        }
      }
    }

    .task-item {
      border-radius: 8px;
    }

    .cdk-drag-placeholder {
      border-top: 3px solid mat.get-color-from-palette($primary);
      background: $background-hover;
      border-bottom-right-radius: 8px;
      border-bottom-left-radius: 8px;
      position: relative;

      .section-in-list {
        height: 64px;
      }

      &:before {
        position: absolute;
        top: -6px;
        left: -8px;
        content: "";
        width: 9px;
        height: 9px;
        border: 2px solid mat.get-color-from-palette($primary);
        border-radius: 50px;
      }

      div {
        opacity: 0;
      }
    }

    .cdk-drop-list {
      .task-action-content {
        padding: 0 !important;
      }
    }
  }

  // end list view

  .board-view {
    display: flex;
    align-items: flex-start;
    overflow-x: auto;
    overflow-y: hidden;
    height: calc(100vh - 167px);
    position: relative;
    box-sizing: border-box;
    width: 100%;
    overscroll-behavior-x: none;

    > .task-list {
      flex-shrink: 0;
    }

    .drop-section {
      display: flex;
      align-items: flex-start;
      height: calc(100vh - 167px);
      position: relative;
      box-sizing: border-box;
    }

    > .task-list {
      position: relative;
      width: 300px;
      margin-right: 8px;
      padding: 0 8px;

      .task-header {
        @include flex-align-center;
        height: 44px;
        position: relative;
        padding: 0 12px;

        .title-box {
          @include title-box;
        }
      }

      .task-item {
        border: 1px solid rgba(0, 0, 0, .12);
        border-radius: 8px;
        margin-bottom: 8px;
        padding: 8px;

        .item-content {
          padding: 0;
        }
      }

    }

    .board-add-section-container {
      position: relative;
      height: 100%;
      margin: 0 !important;

      .section-task-action-content {
        .add-section {
          cursor: pointer;
          position: absolute;
          @include flex-center;
          top: 0;
          bottom: 0;
          left: -12px;
          width: 12px;
          overflow: hidden;
          opacity: 0;

          &:hover {
            overflow: visible;
            opacity: 1;
          }

          &:after {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 6px;
            border-left: 1px solid mat.get-color-from-palette($primary);
          }

          span {
            z-index: 1;
            padding: 4px 8px;
            white-space: nowrap;
            font-size: 14px;
            font-weight: 700;
            color: mat.get-color-from-palette($primary);
            background: white;
          }
        }

        .section-editor {
          width: 300px;
          box-sizing: border-box;
          padding: 2px 10px 10px;
          margin-right: 12px;
        }
      }
    }

    .section-list {
      position: relative;
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      max-height: 100%;
      height: fit-content;
      padding: 0;
      margin-right: 8px;
      background-color: #fff;

      &:before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        border: 1px solid transparent;
        border-radius: 5px;
        pointer-events: none;
        transition-property: border-color, box-shadow;
        transition-duration: .3s;
      }

      &:hover:before {
        border-radius: 8px;
        border: 1px solid #eee;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .08);
      }

      > * {
        flex-shrink: 0;
      }

      section {
        width: 300px;
        display: flex;
        position: relative;
        flex-direction: column;
        box-sizing: border-box;
        //margin-right: 8px;
        max-height: 100%;

        .section-head {
          padding: 0 12px;

          .overflow-actions {
            display: none;
          }
        }

        .list-holder {
          box-sizing: border-box;
          flex-shrink: 1;
          overflow-y: hidden;
          overflow-x: hidden;

          &:hover {
            overflow-y: auto;
          }

          .task-action-content {
            padding-left: 8px;
            padding-top: 8px;
          }

          .task-list {
            padding: 0 8px;

            .task-item {
              border: 1px solid rgba(0, 0, 0, .12);
              border-radius: 8px;
              margin-bottom: 8px;
              padding: 8px;

              .item-content {
                padding: 0;
              }
            }
          }
        }

        .board-section-footer {
          display: flex;
          padding: 0 8px;
        }
      }
    }

    .only-section-task-action {
      .section-task-action-content {
        .add-section {
          width: 300px;
          background: rgb(250, 250, 250);
          height: 44px;
          border-radius: 4px;
          @include flex-align-center;
          padding: 8px 16px;
          color: grey;
          cursor: pointer;

          .icon {
            margin-right: 12px;
          }

          &:hover {
            color: mat.get-color-from-palette($primary);
          }
        }
      }


      .section-editor {
        width: 300px;
      }
    }

    .cdk-drag-placeholder {
      background: $background-hover;
      border-radius: 8px;
      height: fit-content;

      div {
        opacity: 0;
      }
    }

    .drag-task, .drag-section {
      .task-action-content {
        margin-bottom: 8px;
        padding: 0 !important;
      }
    }
  }

  // end board view

  .section-list {

    .collapsed {
      .section-collapse .icon {
        transform: rotate(-90deg);
      }

      .list-holder {
        height: 0;
        overflow: hidden;
      }
    }

    .section-head {
      @include flex-align-center;
      box-sizing: border-box;
      justify-content: space-between;
      flex: 0 0 44px;
      height: 44px;
      position: relative;

      &:hover {
        .overflow-actions {
          .section-drag {
            opacity: 1;
          }
        }
      }

      .overflow-actions {
        position: absolute;
        width: 48px;
        left: -51px;

        div {
          display: inline-flex;
          color: grey;

          &:hover {
            border-radius: 4px;
            background: $background-hover;
          }
        }

        .section-drag {
          cursor: move;
          opacity: 0;
        }
      }

      .title-box {
        @include title-box;
      }

      .actions {
        @include icon-action;

        &:hover {
          background: $background-hover;
        }
      }

      .list-holder {
        &.collapsed {
          height: 0;
          overflow: hidden;
        }
      }
    }

    .list-holder {
      position: relative;

      .task-list {
        height: fit-content;
        min-height: 1px;
      }
    }

  }

  .task-list {
    .task-item {
      @include flex-align-center;
      border-bottom: 1px solid #eee;
      cursor: pointer;

      &:hover {
        .actions {
          .icon {
            opacity: 1;
          }
        }
      }

      .task-checkbox {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 24px;
        height: 24px;
        margin-right: 8px;
      }

      .item-content {
        flex: 1;
        padding: 12px 0;

        .task-done {
          text-decoration: line-through;
        }
      }

      .actions {
        @include flex-align-center;
        gap: 4px;

        .icon {
          opacity: 0;
          @include icon-action;
        }

        :hover {
          background: $background-hover;
        }
      }
    }
  }

  .task-action-content {
    padding-bottom: 12px;

    .task-list {
      border-bottom: 1px solid #eee;
    }

    .add-task {
      @include flex-align-center;
      cursor: pointer;
      padding-top: 8px;
      color: grey;

      &:hover {
        color: mat.get-color-from-palette($primary);

        .icon {
          background: mat.get-color-from-palette($primary);
          border-radius: 100%;
          color: white;
        }
      }

      .icon {
        margin-right: 8px;
        color: mat.get-color-from-palette($primary);
      }
    }

    .task-editor {
      border: 1px solid #e6e6e6;
      border-radius: 8px;

      .task-editor-input {
        padding: 8px 8px 0 8px;

        input {
          border: none;
          outline: none;
          padding: 4px;
        }

        .task-name::placeholder {
          font-weight: 600;
        }
      }
    }

    .task-editor-footer {
      @include flex-align-center;
      justify-content: space-between;
      padding: 8px;
      margin-top: 8px;
      border-top: 1px solid #e6e6e6;
    }
  }

  .section-editor {
    .section-name {
      padding: 8px;
      border: 1px solid #e6e6e6;
      outline: none;
      border-radius: 4px;
    }

    .btn-action {
      margin-top: 8px;
    }
  }
}

.btn-action {
  display: flex;
  gap: 8px;
}

.mat-mdc-menu-panel {
  width: 250px;
  border-radius: 8px;
}

.menu-section-action, .menu-task-action {
  .menu-item {
    padding: 4px;
    margin: 0 4px;
    border-radius: 4px;
    cursor: pointer;
    @include flex-align-center;
    line-height: 24px;
    min-height: 32px;

    i {
      margin-right: 12px;
      @include icon-action;
    }

    &:hover {
      background: $background-hover;
    }
  }
}

.menu-task-action {
  .menu-section-item {
    .scheduler-holder {
      @include flex-align-center;
      gap: 12px;

      span {
        @include flex-center;
        width: 32px;
        height: 32px;
      }
    }
  }
}


.cdk-drag-preview {
  .task-item {
    background: white;
    @include flex-align-center;
    cursor: pointer;
    border-bottom: 1px solid #eee;
    padding: 0 8px;

    .task-checkbox {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      width: 24px;
      height: 24px;
      margin-right: 8px;
    }

    .item-content {
      padding: 12px 0;
      flex: 1;
    }

    .actions {
      display: none;
    }
  }

  .board-add-section-container {
    display: none;
  }


  section {
    background: #fff;
    display: flex;
    position: relative;
    flex-direction: column;
    box-sizing: border-box;
    max-height: 100%;
    border-radius: 8px;
    border: 1px solid #eee;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .08);

    .section-head {
      @include flex-align-center;
      padding: 0 12px;
      box-sizing: border-box;
      justify-content: space-between;
      flex: 0 0 44px;
      height: 44px;
      position: relative;

      .overflow-actions {
        display: none;
      }

      .title-box {
        @include title-box;
      }
    }

    .list-holder {
      box-sizing: border-box;
      flex-shrink: 1;

      .task-action-content {
        padding-left: 8px;
        padding-top: 8px;
      }

      .task-list {
        padding: 0 8px;

        .task-item {
          border: 1px solid rgba(0, 0, 0, .12);
          border-radius: 8px;
          margin-bottom: 8px;
          padding: 8px;

          .item-content {
            padding: 0;
          }
        }
      }
    }

    .board-section-footer {
      padding: 0 8px;

      .task-action-content {
        margin-bottom: 8px;

        .add-task {
          @include flex-align-center;
          padding-top: 8px;

          .icon {
            margin-right: 8px;
            color: mat.get-color-from-palette($primary);
          }
        }
      }
    }
  }

  .section-in-list {
    .list-holder {
      height: 0;
      overflow: hidden;
    }
  }

  .task-action-in-list, .section-action-in-list {
    display: none
  }

  .drag-task, .drag-section {
    .task-action-content {
      margin-bottom: 8px;
      padding: 0 !important;
    }
  }
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
