<div>
    <div class="task-list" *ngIf="!isEmptyArray(taskList)">

        <ng-container *ngFor="let item of taskList">
            <div *ngFor="let item of taskList ">
                {{item.title}}
            </div>
        </ng-container>
        <div class="task-content">
            <div class="add-task" (click)="onAddTask()" *ngIf="!viewTaskEditor">
                <mat-icon class="icon">add</mat-icon>
                <span> Add task </span>
            </div>

            <div class="task-editor" *ngIf="viewTaskEditor">
                <div class="task-editor-input">
                    <input class="app-input task-name"
                           [(ngModel)]="taskName"
                           placeholder="{{'todo.task.taskName' | translate}}"
                    />
                    <input class="app-input task-description"
                           [(ngModel)]="taskDescription"
                           placeholder="{{'common.description' | translate}}"
                    />
                </div>

                <div class="task-editor-footer">
                    <div></div>
                    <div class="btn-action">
                        <app-button
                                [btnType]="ButtonTypes.Outline"
                                [btnColor]="ButtonColor.Basic"
                                (click)="onCancelSaveTask()"
                                [btnText]="'common.cancel'"
                        ></app-button>
                        <app-button
                                [btnType]="ButtonTypes.Flat"
                                [btnColor]="ButtonColor.Primary"
                                (click)="onSaveTask()"
                                [btnText]="'common.save'"
                                [btnDisabled]="isValid"
                        ></app-button>
                    </div>

                </div>
            </div>
        </div>
        <div class="section-content">
            <div class="add-section" *ngIf="!viewAddSection" (click)="onAddSection()">
                Add section
            </div>

            <div *ngIf="viewAddSection" class="section">
                <input class="app-input section-name"
                       [(ngModel)]="sectionName"
                       placeholder="{{'todo.section.name' | translate}}"
                />
                <div class="btn-action">
                    <app-button
                            [btnType]="ButtonTypes.Outline"
                            [btnColor]="ButtonColor.Basic"
                            (click)="onCancelSaveSection()"
                            [btnText]="'common.cancel'"
                    ></app-button>
                    <app-button
                            [btnType]="ButtonTypes.Flat"
                            [btnColor]="ButtonColor.Primary"
                            (click)="onSaveSection()"
                            [btnText]="'common.save'"
                            [btnDisabled]="isValid"
                    ></app-button>
                </div>
            </div>
        </div>

    </div>

    <div class="section-task-list" *ngIf="!isEmptyArray(sectionTaskList)" [ngClass]="open?'open':''">
        <ng-container *ngFor="let item of sectionTaskList">
            <header class="section-head">
                <div class="overflow-actions">
                    <span class="section-drag"> </span>
                    <span class="section-collapse" (click)="openSection()">
                            <mat-icon>arrow_forward_ios</mat-icon>
                        </span>
                </div>

                <div class="title-box">
                    {{item.title}}
                </div>

                <div class="actions"></div>
            </header>

            <div class="list-holder">
                <ng-container *ngFor="let task of item.tasks">
                    <div>
                        {{task.title}}
                    </div>
                </ng-container>
            </div>
        </ng-container>

        <div class="task-content">
            <div class="add-task" (click)="onAddTask()" *ngIf="!viewTaskEditor">
                <mat-icon class="icon">add</mat-icon>
                <span> Add task </span>
            </div>

            <div class="task-editor" *ngIf="viewTaskEditor">
                <div class="task-editor-input">
                    <input class="app-input task-name"
                           [(ngModel)]="taskName"
                           placeholder="{{'todo.task.taskName' | translate}}"
                    />
                    <input class="app-input task-description"
                           [(ngModel)]="taskDescription"
                           placeholder="{{'common.description' | translate}}"
                    />
                </div>

                <div class="task-editor-footer">
                    <div></div>
                    <div class="btn-action">
                        <app-button
                                [btnType]="ButtonTypes.Outline"
                                [btnColor]="ButtonColor.Basic"
                                (click)="onCancelSaveTask()"
                                [btnText]="'common.cancel'"
                        ></app-button>
                        <app-button
                                [btnType]="ButtonTypes.Flat"
                                [btnColor]="ButtonColor.Primary"
                                (click)="onSaveTask()"
                                [btnText]="'common.save'"
                                [btnDisabled]="isValid"
                        ></app-button>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="section-content">
        <div class="add-section" *ngIf="!viewAddSection" (click)="onAddSection()">
            Add section
        </div>

        <div *ngIf="viewAddSection" class="section">
            <input class="app-input section-name"
                   [(ngModel)]="sectionName"
                   placeholder="{{'todo.section.name' | translate}}"
            />
            <div class="btn-action">
                <app-button
                        [btnType]="ButtonTypes.Outline"
                        [btnColor]="ButtonColor.Basic"
                        (click)="onCancelSaveSection()"
                        [btnText]="'common.cancel'"
                ></app-button>
                <app-button
                        [btnType]="ButtonTypes.Flat"
                        [btnColor]="ButtonColor.Primary"
                        (click)="onSaveSection()"
                        [btnText]="'common.save'"
                        [btnDisabled]="isValid"
                ></app-button>
            </div>
        </div>
    </div>
</div>
