.sidebar-container {
  height: 100%;

  .sidebar {
    width: 240px;
    // background-color: rgba(40, 36, 61);

    .mat-toolbar {
      // background: $primary-palette;
    }

    .mat-toolbar.mat-primary {
      position: sticky;
      top: 0;
      z-index: 1;
    }
  }
}