<header class="header">
    <div>
        <div class="title">hahahaah</div>
        <div class="button-container">
            <div class="close" (click)="onCancelClick()">
                <i class="fa-light fa-xmark-large fa-lg"></i>
            </div>
        </div>
    </div>
</header>

<mat-divider></mat-divider>
<main id="main">
    <div class="content">
        <ckeditor
            [editor]="Editor"
            [(ngModel)]="model.editorData"
            (ngModelChange)="change()"
            (ready)="onReady($event)"></ckeditor>
        <div>
            <app-button
                [btnType]="ButtonTypes.Flat"
                [btnColor]="ButtonColor.Basic"
                [btnText]="'common.cancel'"
                (click)="onCancelClick()"></app-button>
            <app-button
                [btnType]="ButtonTypes.Flat"
                [btnColor]="ButtonColor.Primary"
                [btnText]="'common.save'"
                (click)="onConfirmClick()"></app-button>
        </div>
    </div>
    <div class="menu">menu</div>
</main>
