.modal-sm {
  max-width: 300px;
}

.modal-default {
  max-width: 500px;
}

.modal-lg {
  max-width: 800px;
}

.modal-xl {
  max-width: 1140px;
}

.dialog-footer>* {
  margin: 0.25rem;
}

.dialog-footer {
  background-color: #f5f5f5
}