<ng-template #recursiveMenu let-items let-depth="depth">
    @for (data of items; track data.id) {
        <div [ngStyle]="{ 'padding-left.px': depth * 12 }" class="menu-item">
            <div class="flex items-center justify-between p-2 rounded hover:bg-gray-200 dark:hover:bg-gray-700 cursor-pointer">

                @if (data.icon) {
                    <div class="icon w-8 h-8 flex items-center justify-center text-gray-600 dark:text-gray-300 text-xl">
                        <i [class]="data.icon"></i>
                    </div>
                } @else {
                    <div class="icon w-8 h-8 flex items-center justify-center">
                        <div class="dot-icon"></div>
                    </div>
                }

                <div class="flex-1 ml-2 title" (click)="data.type === 'link' ? goto(data.route) : toggleSubmenu(data)">
                    <span class="text-sm font-medium text-gray-900 dark:text-gray-100">
                      {{ data.name | translate }}
                    </span>
                </div>

                @if (data.child) {
                    <div class="icon-expand w-4 h-4 flex items-center justify-center" [class.expanded]="isOpen(data)">
                        <i class="fa-regular fa-angle-left"></i>
                    </div>
                }

            </div>

            @if (data.child) {
                <div class="submenu" [class.expand-menu]="isOpen(data)">
                    <ng-container
                            *ngTemplateOutlet="recursiveMenu; context: { $implicit: data.child, depth: depth + 1 }"></ng-container>
                </div>
            }

        </div>
    }
</ng-template>

<!-- Render main menu -->
<ng-container *ngTemplateOutlet="recursiveMenu; context: { $implicit: item, depth: 0 }"></ng-container>
