@import "../sidebar/sidebar-theme";

.expand {
  @include sidebar-item;

  &.expand-active {
    //     background: blue;
    .expand-sub-menu {
      //       background: yellow;
    }
  }
  &.expand-open {
    //     background: blue;
    .expand-sub-menu {
      //       background: yellow;
    }
  }

  .expand-icon {
    display: inline-block;
    fill: currentColor;
    flex-shrink: 0;
    font-size: 1.5rem;
    height: 1em;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    user-select: none;
    width: 1em;
  }
  .abc.expand-sub-menu {
    max-height: 100%;
    visibility: visible;
  }
  .expand-sub-menu {
    max-height: 0;
    padding-top: 0;
    overflow: hidden;
    visibility: hidden;
    transition: max-height 225ms cubic-bezier(0.4, 0, 0.2, 1), visibility 225ms cubic-bezier(0.4, 0, 0.2, 1);
     transform: translateZ(0) !important;
  }
}
