@import "../sidebar/sidebar-theme";

.expand {
  @include sidebar-item;

  &.expand-active {
    //     background: blue;
    .expand-sub-menu {
      //       background: yellow;
    }
  }
  &.expand-open {
    //     background: blue;
    .expand-sub-menu {
      //       background: yellow;
    }
  }

  .expand-icon {
    display: inline-block;
    fill: currentColor;
    flex-shrink: 0;
    font-size: 1.5rem;
    height: 1em;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    user-select: none;
    width: 1em;
  }

    .expanded .expand-sub-menu {
    max-height: 100%;
    visibility: visible;
  }
  .expand-sub-menu {
    height: 0;
    max-height: 0;
    padding-top: 0;
    overflow: hidden;
    visibility: hidden;
  }
}
$primaryColorSideBar: rgba(231, 227, 252, 0.87);
$primaryBgSideBar: rgba(40, 36, 61);
$primaryColorSideBarIcon: rgb(206, 203, 227);
$activeBgCollapse: rgba(231, 227, 252, 0.3);
$openCollapse: rgba(231, 227, 252, 0.08);
$activeBgLink: rgba(158, 105, 253, 1);
$activeColorLink: rgba(158, 105, 253, 1);
$sideBarLinkHover: rgba(231, 227, 252, 0.04);
$sideBarSectionItem: rgb(113, 108, 134);