<div class="sidebar-item expand" [ngClass]="{'expand-active':open}" appNavAccordionItem [route] = 'data.route'>
    <div class="menu-heading" (click)="openDropdown()" [style.padding-left.px]="level * 16">
        <mat-icon *ngIf="data.icon" class="menu-icon" aria-label="Toggle icon">{{ data.icon }}</mat-icon>
        <div *ngIf="!data.icon" class="dot-icon"></div>
        <span class="menu-name">{{ data.name }} {{ level }}</span>
        <mat-icon *ngIf="!open" class="expand-icon" aria-label="Toggle icon">chevron_left</mat-icon>
        <mat-icon *ngIf="open" class="expand-icon" aria-label="Toggle icon">expand_more</mat-icon>
    </div>

    <ng-container *ngIf="data.child">
        <div class="expand-sub-menu" [@dropDownMenu]>
            <app-sidebar-list-item [data]="data.child " [level]="level + 1"></app-sidebar-list-item>
        </div>
    </ng-container>
</div>