<form class="form-field-full" [formGroup]="form">
  <div class="row">
    <div class="col-md-6">
      <mat-label class="fw-bold">{{ "common.name" | translate }}</mat-label>

      <mat-form-field appearance="outline" class="mb-2 app-input">
        <input matInput type="text" placeholder="" formControlName="name" />

        <mat-error *ngIf="f['name'].errors">
          <span *ngIf="f['name'].errors?.['required']">Name is required</span>
        </mat-error>
      </mat-form-field>

    </div>

    <div class="col-md-6">
      <mat-label class="fw-bold">{{ "common.description" | translate }}</mat-label>
      <mat-form-field appearance="outline" class="mb-2 app-input">
        <input
          matInput
          type="text"
          placeholder=""
          formControlName="description"
        />
      </mat-form-field>
    </div>
  </div>
</form>

<div>
  <rbac-access-control></rbac-access-control>
</div>

<div class="btn-action-footer">
  <app-button
    class="me-2"
    [btnType]="ButtonTypes.Raised"
    [btnText]="'Cancel'"
    (click)="onCancelClick()"
  >
  </app-button>
  <app-button
    [btnDisabled]="!isValid"
    [btnType]="ButtonTypes.Raised"
    [btnColor]="ButtonColor.Primary"
    [btnText]="'Save'"
    (btnClick)="onSaveClick()"
  >
  </app-button>
</div>
