
.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.report-card-content {
  //div {
  //  width: 400px;
  //  height: 500px;
  //  border: 1px solid ;
  //  display: flex;
  //  flex-flow: column;
  //  justify-content: center;
  //  align-items: center;
  //  box-sizing: border-box;
  //}

}
