<div>
  <ng-container [ngSwitch]="viewMod">
    <div *ngSwitchCase="'view'">
      <app-ag-grid
        [gridName]="'expenses.personal.title'"
        [columnDefs]="columnDefs"
        [rowData]="rowData"
        [selectMultiWithCheckbox]="true"
        (gridReady)="onGridReady($event)"
        [toolbarLeftAction]="toolbarLeftAction"
        (selectionChanged)="onSelectionChanged($event)"
        (clickRefresh)="refresh()"
      >
      </app-ag-grid>
    </div>

    <!-- Add view -->
    <div *ngSwitchCase="EViewMode.Create">
      <app-card-layout
        [showBackToView]="true"
        [title]="'expenses.personal.create'"
        (backToView)="backToView()"
      >
        <ng-container *ngTemplateOutlet="expenseEditor"></ng-container>
      </app-card-layout>
    </div>

    <!-- Edit view -->
    <div *ngSwitchCase="EViewMode.Edit">
      <app-card-layout
        [showBackToView]="true"
        [title]="'expenses.personal.edit'"
        (backToView)="backToView()"
      >
        <ng-container *ngTemplateOutlet="expenseEditor"></ng-container>
      </app-card-layout>
    </div>

  </ng-container>
</div>

<ng-template #expenseEditor>
  <add-edit-personal-expense
    (save)="save()"
    (cancel)="cancel()"
    [viewMode]="viewMod"
  ></add-edit-personal-expense>
</ng-template>
