<div>
  <ng-container [ngSwitch]="viewMod">
    <div *ngSwitchCase="EViewMode.View">
      <app-ag-grid
        [gridName]="'rbac.role.titlePage'"
        [columnDefs]="columnDefs"
        [rowData]="rowData"
        [selectMultiWithCheckbox]="true"
        [toolbarLeftAction]="toolbarLeftAction"
        (selectionChanged)="onSelectionChanged($event)"
        (gridReady)="onGridReady($event)"
        (clickRefresh)="refresh()"
      >
      </app-ag-grid>
    </div>

    <!-- Add view -->
    <div *ngSwitchCase="EViewMode.Create">
      <app-card-layout
        [showBackToView]="true"
        [title]="'rbac.role.titleCreate'"
        (backToView)="backToView()"
      >
        <add-edit-role-form
          (save)="save()"
          (cancel)="cancel()"
          [viewMode]="viewMod"
        >
        </add-edit-role-form>
      </app-card-layout>
    </div>

    <!-- Edit view -->
    <div *ngSwitchCase="EViewMode.Edit">
      <app-card-layout
        [showBackToView]="true"
        [title]="'rbac.role.titleEdit'"
        (backToView)="backToView()"
      >
        <add-edit-role-form
          (save)="save()"
          (cancel)="cancel()"
          [viewMode]="viewMod"
        ></add-edit-role-form>
      </app-card-layout>
    </div>
  </ng-container>
</div>
