<!--<div class="nav-links">-->
<!--    <ng-container *ngIf="!data.child; else subMenu">-->
<!--        <div class="sidebar-item">-->
<!--            <a class="menu-heading" [routerLink]="data.route" routerLinkActive="active-link"-->
<!--               [style.padding-left.px]="level * 16">-->
<!--                <mat-icon *ngIf="data.icon" class="menu-icon" aria-label="Toggle icon">{{data.icon}}</mat-icon>-->
<!--                <div *ngIf="!data.icon" class="dot-icon"></div>-->
<!--                <span class="menu-name">{{data.name}} {{level}}</span>-->
<!--            </a>-->
<!--        </div>-->
<!--    </ng-container>-->

<!--    <ng-template #subMenu>-->
<!--        <app-sidebar-collapse [data]="data" [level]="level"></app-sidebar-collapse>-->
<!--    </ng-template>-->
<!--</div>-->


<div class="sidebar-item" appNavAccordionItem>
    <a class="menu-heading" [routerLink]="data.route" routerLinkActive="active-link"
       [style.padding-left.px]="level!==1 ?level * 16:''">
        <mat-icon *ngIf="data.icon" class="menu-icon" aria-label="Toggle icon">{{data.icon}}</mat-icon>
        <div *ngIf="!data.icon" class="dot-icon"></div>
        <span class="menu-name">{{data.name}} {{level}}</span>
    </a>
</div>