<ng-container
        [ngTemplateOutlet]="menuListTpl"
        [ngTemplateOutletContext]="{
          menuList: menu$ | async,
          parentRoute: [],
          level: 1
        }"
>
</ng-container>

<ng-template #menuListTpl
             let-menuList="menuList"
             let-parentRoute="parentRoute"
             let-level="level"
>
    <ul appNavAccordion
        class="sidebar-menu level-{{ level }}"
        [class.submenu]="level > 1"
    >
        <ng-container *ngFor="let menuItem of menuList">
            <ng-template [ngxPermissionsOnly]="menuItem.permissions?.only"
                         [ngxPermissionsExcept]="menuItem.permissions?.except"
            >
                <li appNavAccordionItem class="sidebar-item "
                    routerLinkActive="active-link"
                    [route]="menuItem.route"
                    [type]="menuItem.type"
                    [child]="menuItem.child"
                >
                    <a class="menu-heading"
                       [style.padding-left.px]="level !== 1 ? level * 16 : ''"
                       [routerLink]="buildRoute(parentRoute.concat([menuItem.route]))"
                       *ngIf="menuItem.type === 'link'"
                    >
                        <ng-container [ngTemplateOutlet]="linkTypeTpl"
                                      [ngTemplateOutletContext]="{ item: menuItem, level: level }"
                        ></ng-container>
                    </a>

                    <div appNavAccordionToggle
                         class="menu-heading menu-toggle"
                         *ngIf="menuItem.type === 'sub'"
                         [style.padding-left.px]="level !== 1 ? level * 16 : ''"
                    >
                        <ng-container [ngTemplateOutlet]="linkTypeTpl"
                                      [ngTemplateOutletContext]="{ item: menuItem, level: level }"
                        ></ng-container>
                    </div>

                    <ng-container
                            [ngTemplateOutlet]="menuListTpl"
                            [ngTemplateOutletContext]="{
                              menuList: menuItem.child,
                              parentRoute: parentRoute.concat([menuItem.route]),
                              level: level + 1
                            }"
                    >
                    </ng-container>
                </li>
            </ng-template>
        </ng-container>
    </ul>
</ng-template>

<ng-template #linkTypeTpl let-item="item" let-level="level">
    <span class="menu-icon" *ngIf="item.icon">
        <i *ngIf="level === 1" [ngClass]="item.icon" [style.color]="item.color"></i>
    </span>
    <div class="dot-icon" [style.background-color]="item.color" *ngIf="level !== 1"></div>
    <span class="menu-name">{{ item.name | translate }}</span>

    <div class="icon-group" *ngIf="item.type === 'sub'">

        <add-edit-project></add-edit-project>

        <span class="menu-caret">
            <i class=" fa-light fa-angle-left"></i>
        </span>
    </div>
</ng-template>
