<div>
  <ng-container [ngSwitch]="viewMod">
    <div *ngSwitchCase="'view'">
      <app-ag-grid
        [gridName]="'rbac.user.titlePage'"
        [columnDefs]="columnDefs"
        [rowData]="rowData"
        [selectMultiWithCheckbox]="true"
        [toolbarLeftAction]="toolbarLeftAction"
        (selectionChanged)="onSelectionChanged($event)"
        (gridReady)="onGridReady($event)"
        (clickRefresh)="refresh()"
      >
      </app-ag-grid>
    </div>

    <!-- Add view -->
    <div *ngSwitchCase="EViewMode.Create">
      <app-card-layout
        [showBackToView]="true"
        [title]="'rbac.user.titleCreate'"
        (backToView)="backToView()"
      >
        <add-edit-user-mng-form
          (save)="save()"
          (cancel)="cancel()"
          [viewMode]="viewMod"
        >
        </add-edit-user-mng-form>
      </app-card-layout>
    </div>

    <!-- Edit view -->
    <div *ngSwitchCase="EViewMode.Edit">
      <app-card-layout
        [showBackToView]="true"
        [title]="'rbac.user.titleEdit'"
        (backToView)="backToView()"
      >
        <add-edit-user-mng-form
          (save)="save()"
          (cancel)="cancel()"
          [viewMode]="viewMod"
        ></add-edit-user-mng-form>
      </app-card-layout>
    </div>

  </ng-container>
</div>
