@use "sass:color";
@use "sass:map";
@use "@angular/material" as mat;

@import "../../../../style/sidebar-variables";

@mixin sidebar-item {
  a {
    color: rgba(255, 255, 255, 0.87);
  }
  align-items: center;
  background-attachment: $primaryBgSideBar;
  cursor: pointer;
  list-style: none;
  position: relative;
  transition: all 0.4s ease;

  &.active:before,
  &:hover:before {
    opacity: 1;
  }

  &.active-link {
    background-color: rgba(255, 255, 255, 0.05);
    a {
      color: rgba(255, 255, 255, 0.87);
    }
  }

  &.show-menu {
    .collapse-sub-menu {
      display: block;
    }
  }

  .menu-heading {
    &:hover:not(.active-link) {
      background-color: rgba(255, 255, 255, 0.05);
      color: rgba(255, 255, 255, 0.87);
    }

    display: flex;
    align-items: center;
    padding: 12px 16px;

    .menu-name {
      flex: 1;
      text-align: initial;
    }

    .menu-icon {
      flex-shrink: 0;
      display: inline-flex;
      min-width: 40px;
      color: rgba(255, 255, 255, 0.87);
    }
  }
}