.app-snackbar {
  .mdc-snackbar__surface {
    min-width: 0;

    .mat-mdc-snack-bar-label {
      padding: 8px 4px 8px 12px;
    }
  }
}

.snackbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  height: 28px;
  max-height: 28px;
  min-height: 28px;
}
