@use "@angular/material" as mat;

$primary: mat.define-palette(mat.$indigo-palette);
$accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

.main-view-layout--wide {
  overflow: hidden;
  padding: 22px;

  .view-header-content {
    max-width: 100%;
  }

}

.main-view-layout--narrow {
  &.project-container {
    display: flex;

    .project-view {
      display: flex;
      flex-direction: column;
      flex-grow: 1;

      > header {
        background: #fff;
        position: sticky;
        top: 0;
        z-index: 2;
        padding: 36px 55px 0 55px;

        .view-header-content {
          max-width: 800px;
        }
      }
    }
  }
}

.project-container {
  .project-view {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    header {
      .view-header-content {
        margin: 0 auto;
        display: flex;
        width: 100%;
        padding-bottom: 8px;
        border-bottom: 1px solid transparent;
        transition: border-bottom-color .3s;
        align-items: flex-start;
        word-break: break-word;

        .header-action {
          margin-left: auto;

          div {
            display: flex;
            align-items: center;

            .item-action {
              display: flex;
              align-items: center;
              cursor: pointer;
              padding: 0 8px;
              height: 32px;
              width: 100%;
              white-space: nowrap;

              &:last-child {
                i {
                  margin-right: 0;
                }
              }

              &:hover {
                border-radius: 4px;
                background: rgb(238, 238, 238);
              }

              i {
                margin-right: 8px;
              }
            }
          }
        }
      }
    }
  }
}

.menu-list {
  &.mat-mdc-menu-panel {
    max-width: 300px;
    width: 300px;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, .12);
  }


  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px 12px;

    span {
      font-weight: bold;
    }
  }

  .menu-item {
    display: flex;
    align-items: center;
    line-height: 24px;
    min-height: 32px;
    margin: 0 6px;
    padding: 0 6px;
    cursor: pointer;

    &:hover {
      background: rgb(238, 238, 238);
      border-radius: 4px;
    }

    i {
      margin-right: 12px;
    }

    .view-dropdown {
      display: flex;
      flex-grow: 1;
      gap: 4px;
      justify-content: space-between;

      .view-menu {
        display: flex;
        align-items: center;
        color: grey;

        &:hover {
          color: black;
        }

        i {
          margin-left: 4px;
          margin-right: 0;
        }
      }
    }
  }
}

.menu-view {
  padding: 0;
  border-collapse: collapse;
  max-height: 300px;
  margin: 0;

  .menu-view-item {
    display: flex;
    align-items: center;

    &:hover {
      background: rgb(238, 238, 238);
    }

    span {
      flex-grow: 1;
      display: inline-block;
      border-radius: 6px;
      text-align: left;
      padding: 4px;
    }

    i {
      margin: 8px
    }
  }

}